.App {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column {
    margin: 0 auto;
    padding: 10px;
    background: rgba(0,0,0, .1);
    backdrop-filter: blur(7px);
    font-size: 15px;
    width: 230px;
}
.mainBlock {
    display: flex;
    flex-direction: column;
    margin: 50px;
    background: rgba(0,0,0, .1);
    backdrop-filter: blur(7px);
}
.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(0,0,0, .1);
    backdrop-filter: blur(7px);
    font-size: 15px;
}




